<!DOCTYPE html>
<html>
<head>
  <title>CatarsePaymentPaypalExpress</title>
  <%= stylesheet_link_tag    "catarse_payment_paypal_express/application", :media => "all" %>
  <%= javascript_include_tag "catarse_payment_paypal_express/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
